* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto Slab", sans-serif;
}

body {
  background-color: #dad1bd;
  color: #313e48;
}

p {
  margin: 0;
  margin-bottom: 20px;
}

.weather-app {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1140px;
  margin: 0 auto;
}

.weather-card {
  padding: 10px 0;
}

.weather-card__content {
  position: relative;
  margin: 0 auto;
  text-align: center;
  margin-top: 30px;
  padding: 50px 0 30px;
  width: 260px;
  height: auto;
  border-radius: 3px;
  background-color: #a1d7e4;
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.25);
}

.weather-card__city {
  font-size: 25px;
  font-weight: bold;
}

.weather-card__temp {
  font-size: 60px;
  font-weight: bold;
  transform: translateX(10px);
}

.search-form__form {
  text-align: center;
}

.city-list__item {
  cursor: pointer;
}

.search-form--hidden {
  display: none;
}
